<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gpay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>771E4C7C203B2BD6003D40C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771E4C90203B2BD6003D40C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771E4C9B203B2BD6003D40C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
